<a href="https://colab.research.google.com/github/profteachkids/CHE5136_Fall2021/blob/main/Pandas_Analyze_Maintenance_Log.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [54]:
!wget https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2021/main/maintenance_log.txt

--2021-08-28 16:39:33--  https://raw.githubusercontent.com/profteachkids/CHE5136_Fall2021/main/maintenance_log.txt
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 26025250 (25M) [text/plain]
Saving to: ‘maintenance_log.txt’

maintenance_log.txt 100%[===================>]  24.82M   132MB/s    in 0.2s

2021-08-28 16:39:35 (132 MB/s) - ‘maintenance_log.txt’ saved [26025250/26025250]

In [55]:
import pandas as pd

In [56]:
df=pd.read_csv('/content/maintenance_log.txt')
df.head()

        start         end equipment      task     name       cost
0  2018-10-26  2018-11-09  ReactorA  Overhaul  Corrine  791158.32
1  2018-02-19  2018-03-03     TankE   Inspect  Corrine      88.50
2  2020-04-05  2020-04-09   HeaterC   Inspect    Garek      42.78
3  2019-07-15  2019-07-24  ReactorD  Overhaul   George  570538.03
4  2020-07-29  2020-08-02  ReactorE  Overhaul  Corrine  925844.80

In [57]:
df=df.astype({'equipment':'category','name':'category','cost':'float64','start':'datetime64[ns]', 'end':'datetime64[ns]'})
df.dtypes

start        datetime64[ns]
end          datetime64[ns]
equipment          category
task                 object
name               category
cost                float64
dtype: object

In [58]:
df['days']=(df['end']-df['start']).dt.days

In [59]:
df2=df.set_index(['start','equipment','task','name'])
df2.sort_index(inplace=True)
idx = pd.IndexSlice

In [ ]:
df2.loc[idx['2020-05-30':'2020-06-5',['ColumnA','TankA'],'Inspect',:]]

In [64]:
df3=pd.pivot_table(data=df,values=['cost','days'],columns=['equipment','task','name'],aggfunc=['mean','min','max'])

In [65]:
df3

                   mean                ...       max
equipment       ColumnA                ...     TankE
task              Clean                ...  Overhaul
name             Carlos       Corrine  ...     Garek    George
cost       60144.905952  32009.036082  ...  14033.56  18094.94
days          15.264848     14.986998  ...     29.00     29.00

[2 rows x 900 columns]

In [81]:
df4=df3.stack([1,2,3])

In [90]:
df5=df4[['mean','max','min']]
df5['mean']=df5['mean'].round(2)

In [ ]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None): 
    print(df5.loc[idx['cost']])

In [103]:
def f(x):
    return x.startswith('Column')

df5[df5.index.get_level_values('equipment').map(f)].loc[idx['cost']]

                                  mean         max        min
equipment task     name
ColumnA   Clean    Carlos     60144.91    79446.17   39690.27
                   Corrine    32009.04    42106.09   18588.96
                   Garek      36155.86    48773.48   24556.11
                   George     44057.15    58251.52   30040.48
          Inspect  Carlos      6020.87     7905.60    3827.61
                   Corrine     3196.57     4459.63    2150.85
                   Garek       3601.29     4830.86    2416.30
                   George      4386.65     5624.07    2814.01
          Overhaul Carlos    603459.15   794259.92  396776.99
                   Corrine   320695.46   452068.59  204947.36
                   Garek     360755.72   470618.96  212992.56
                   George    438865.51   630600.23  297077.91
ColumnB   Clean    Carlos     90017.18   116899.34   62486.25
                   Corrine    48059.47    62564.81   32096.54
                   Garek      53918.84    75587.73   35423.96
                   George     65937.42    89684.60   46407.89
          Inspect  Carlos      8969.71    12297.90    6040.26
                   Corrine     4805.54     6461.43    3272.33
                   Garek       5398.62     7226.49    3593.39
                   George      6565.56     8897.87    4226.46
          Overhaul Carlos    901394.41  1246515.45  609569.84
                   Corrine   480068.78   625775.30  336725.52
                   Garek     540867.92   748285.60  365159.43
                   George    663677.51   858542.81  407209.93
ColumnC   Clean    Carlos    120277.77   161234.76   79396.14
                   Corrine    63814.78    87735.72   42407.59
                   Garek      72071.08    94498.68   49620.82
                   George     87710.57   113420.31   57530.73
          Inspect  Carlos     12004.11    15618.91    8091.83
                   Corrine     6403.12     8637.64    4221.57
                   Garek       7207.56     9312.50    4694.30
                   George      8775.20    11525.41    5989.77
          Overhaul Carlos   1195860.74  1602069.86  836164.01
                   Corrine   640741.18   875941.32  437727.36
                   Garek     720862.56   960794.01  502771.49
                   George    882337.99  1166125.95  588027.39
ColumnD   Clean    Carlos     29950.31    40054.90   21184.13
                   Corrine    16006.01    20855.23   10219.51
                   Garek      17924.62    24369.09   11028.61
                   George     22056.74    30317.54   15847.39
          Inspect  Carlos      2992.31     3886.82    2068.87
                   Corrine     1598.49     2053.95     987.48
                   Garek       1808.68     2475.86    1180.66
                   George      2193.32     3037.24    1483.93
          Overhaul Carlos    299167.46   400695.09  195214.39
                   Corrine   159744.04   212885.34  104866.71
                   Garek     180416.20   232715.73  119393.04
                   George    220069.00   299737.41  121799.42
ColumnE   Clean    Carlos     72099.45   101234.70   49878.33
                   Corrine    38550.49    52353.98   23955.21
                   Garek      43147.04    57603.44   30657.21
                   George     52859.68    72492.33   35860.99
          Inspect  Carlos      7201.06     9949.97    5116.75
                   Corrine     3849.61     5069.42    2505.90
                   Garek       4315.44     5684.78    3017.82
                   George      5281.78     7107.78    3704.57
          Overhaul Carlos    716062.94  1008024.57  479436.10
                   Corrine   382817.35   503448.50  245763.82
                   Garek     431036.42   590384.96  301165.43
                   George    528350.92   695195.40  371097.38

In [100]:
index.startswith('Column')

AttributeError: ignored